[Desktop Entry]
Type=Application
Name=Shticker Book Rewritten
Icon=/usr/share/shticker-book-rewritten/icon/shticker-book-rewritten.png
Exec=shticker-book-rewritten
Terminal=false
Categories=Game;RolePlaying;