[Desktop Entry]
Type=Application
Name=Shticker Book Rewritten
Icon=shticker-book-rewritten
Exec=shticker-book-rewritten
Terminal=false
Categories=Game;RolePlaying;
